
*{
  max-width: 1200px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  padding: 1rem;
}

.main {
  background-color: #faf7f2;
  padding: 20px 40px;
  border-radius: 25px;
  border: 1px solid white;
}

hr {
  width: 70%;
  margin-bottom: 10px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 20px 0px;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

.btn {
  color: black;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  border: 2px solid #fbf2e4;
  background-color: #faf7f2;
  border-radius: 5%;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  width: 40%;
}

.btn:hover {
  transition: 1.5s;
  background-color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 640px) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 896px) {
  .cards-item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
  background: white;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 200;
  line-height: 60px;
  margin: 10px 0;
  letter-spacing: 1px;
}

.card-text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
   top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex; 
  align-items: center;
  justify-content: center;
  background: #faf7f2;
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  border-radius: 8px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal-hr {
  margin-left: 0;
  height: 1px;
  background-color: #faf7f2;
  border: none;
}

.modal-attributes {
  border: 2px solid #fef5e6;
  background-color: #faf7f2;
  border-radius: 20%;
  padding: 5px 10px;
  margin-left: 10px;
  width: 20%;
  display: inline;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;  
}





